<table id='networks'>
  <tr id='headings'>
    <th>ID</th>
    <th>Name</th>
    <th>Ports</th>
    <th>Available</th>
    <th>Used</th>
    <th>Action</th>
  </tr>
  <tbody class='main'>
    {% for network in networks %}
      <tr class="{% cycle 'odd' 'even' %}" id="{{network.id}}">
          <td><a href='{% url dash_networks_detail request.user.tenant network.id %}'>{{network.id}}</a></td>
          <td>{{network.name}}</td>
          <td>{{network.total}}</td>
          <td>{{network.available}}</td>
          <td>{{network.used}}</td>
          <td id="actions">
            <ul>
              <li>{% include "_delete_network.html" with form=delete_form %}</li>
              <li>{% include "_rename_network.html" with form=rename_form %}</li>
            </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
