{% extends 'dash_base.html' %}
{# list of user's instances #}
{# standard nav, sidebar, list of instances in main #}

{% block sidebar %}
  {% with current_sidebar="networks" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block headercss %}
    <link href='/media/dashboard/css/cupertino/jquery-ui-1.7.2.custom.css' media='screen' rel='stylesheet' />
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url dash_networks tenant %}">Networks</a>&nbsp;&raquo;&nbsp;
    <a href="{% url dash_networks_detail tenant network.id %}">{{network.name}}</a>
{% endblock %}

{% block main %}
  <div id='page_header'>
    <h2><span>Compute:Network</span> {{network.name}}</h2>
    <p class='desc'><span>&mdash;</span> </p>
  </div>

  {% include "_messages.html" %}
  
  {% if network %}
  <div class="dash_block wide form">
    <div class='title_block'>
      <h3>Create Ports</h3>
    </div> 
   {% include '_create_port.html' with form=create_port_form %}
  </div>

  <div class='main_content'>
      <div class='table_title wide'>
        <h3>Ports</i></h3>
      </div>
      {% include '_network_detail.html' %}
  </div>
  {% endif %}

{% endblock %}
